<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <properties resource="db.properties"/>-->
    <logger name="org.test.javaee.demotest.mapper.StudentMapper">
        <level value="trace"/>
        <appender-ref ref="consoleAppender" />
    </logger>
    <typeAliases>
        <!-- Data Transfer Objects -->
        <typeAlias type="org.test.javaee.demotest.model.Student" alias="student"/>
        <typeAlias type="org.test.javaee.demotest.model.StudentSearch" alias="studentsearch"/>
        <typeAlias type="org.test.javaee.demotest.model.Department" alias="department"/>
        <typeAlias type="org.test.javaee.demotest.model.ComboTable" alias="combotable"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/> <!--postgres driver-->
                <property name="url" value="jdbc:postgresql://localhost:5432/student-mybatis-db"/>
                <property name="username" value="postgres"/>
                <property name="password" value="postgres"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--        <mapper resource="org/test/javaee/demotest/mapper/StudentMapper.xml"/>-->
<!--        <mapper resource="main/java/org/test/javaee/demotest/mapper/StudentMapper.xml"/>-->
        <mapper resource="StudentMapper.xml"/>
    </mappers>
</configuration>

